body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
table {
    border-collapse: collapse;
}
td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
}
.white {
    background-color: #eeeed2;
}
.black {
    background-color: #769656;
}
.highlight {
    background-color: yellow;
